/****************************************************************************************
**  PRIMERA FILA
*****************************************************************************************/
.row {
	display: block;
	margin: 5px 0 0 0;
}
.col-1 {
	display: inline-block;
	margin: none;
	padding: none;
	width: 720px;
}
.col-2 {
	display: inline-block;
	vertical-align: top;
	margin: none;
	padding: none;
	text-align: center;
	height: auto;
	width: 355px;
}
.title {
	display: block;
	padding: 3px 5px 3px 15px;
	margin: 0 7px 5px 5px;
	color: #61212b;
	font-weight: normal;
	font-size: 18px;
}
.title-inverted {
	display: block;
	padding: 3px 5px 3px 15px;
	margin: 0 7px 5px 5px;
	background-color: #E5E2C9;
	color: #61212b;
	font-weight: normal;
	font-size: 18px;
}
.title-special {
	display: block;
	padding: 3px 5px 3px 15px;
	margin: 0 7px 5px 5px;
	color: #E5E2C9;
	font-weight: normal;
	font-size: 18px;
}
@media (max-width: 1080px){
	.col-2 {
		width: 25%;
	}
}
@media (min-width: 905px) and (max-width: 965px){
	.col-2 {
		width: 20%;
	}
}
@media (min-width: 853px) and (max-width: 905px){
	.col-2 {
		width: 15%;
	}
}
@media (min-width: 700px) and (max-width: 853px){
	.row-1 {
		float: none;
		width: 100%;
	}
	.col-1 {
		display: block;
		clear: both;
		width: 720px;
		margin: 0 auto;
	}
	.col-2 {
		display: block;
		clear: both;
		margin: 0 auto;
		width: 700px;
	}
}
@media (max-width: 700px) {
	.col-1 {
		display: block;
		clear: both;
		width: 450px;
		margin: 0 auto;
	}
	.col-2 {
		display: block;
		clear: both;
		width: 450px;
		margin: 0 auto;
	}
	.title, .title-inverted{
		margin: 0 0 5px 0;
	}
}
@media (max-width: 450px) {
	.row-1 {
		width: 100%;
	}
	.col-1 {
		width: 100%;
	}
	.col-2 {
		width: 100%;
	}
}
/** ------------------
**  ARTICULOS GRANDES
** ------------------*/
.big-article-width {
	width: 350px;
}
.big-article-container {
	display: block;
	float:left;
	margin-left:6px;
}
.big-article-container > img {
	height:230px;
}
.big-article-container > h4 {
	margin: 0 5px 0 5px;
	padding: 0;
	font-weight: normal;
	color: #61212b;
}
.big-article-container > h5 {
	margin: 0 0 15px 5px;
	text-align: left;
	padding: 0;
	font-weight: 300;
	font-size: 12px;
}

@media (max-width: 700px){
	.big-article-width {
		width: 450px;
	}
	.big-article-container > img {
		height:330px;
	}
	.big-article-container {
		float: none;
		margin: 0 auto;
	}
}
@media (max-width: 450px){
	.big-article-width {
		width: 100%;
	}
	.big-article-container > img {
		display: block;
		width: 90%;
		height:auto;
		margin: 0 auto;
	}
	.big-article-container > h4 {
		display: block;
		width: 90%;
		padding: 0;
		font-weight: normal;
		color: #61212b;
		margin: 0 auto;
	}
	.big-article-container > h5 {
		display: block;
		width: 90%;
		text-align: left;
		padding: 0;
		font-weight: 300;
		font-size: 12px;
		text-align: left;
		margin: 0 auto 15px auto;
	}
	.big-article-container {
		float: none;
		margin: 0 auto;
	}
	.no-img {
		display: block;
		width: 90%;
		height:auto;
		margin: 0 auto;
	}
}
/** -------------------
**  ARTICULOS PEQUENOS
** -------------------*/
.small-article-width {
	width: 210px;
}
.small-article-container {
	display: block;
	float: left;
	margin: 0 20px 0 10px;
}
.small-article-container > img {
	width: 200px;
}
.small-article-container > h4 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 14px;
	color: #61212b;
}
.small-article-container > h5 {
	margin: 0 5px 15px 0;
	text-align: left;
	padding: 0;
	font-weight: 300;
	font-size: 12px;
}
/*.no-img {
	display: table-cell;
	vertical-align: bottom;
	background-color: #FFF;
	width: 100%;
	height: 140px;
	overflow: hidden;
}
.no-img > h6 {
	margin: auto;
	padding: 0;
	font-size: 20px;
	font-weight: normal;
	word-wrap: break-word;
	color: #61212b;
}
@media all and (min-width: 50px)   {  .no-img > h6  { font-size:1.4em;  } }
@media all and (min-width: 100px)  {  .no-img > h6  { font-size:1.4em;  } }
@media all and (min-width: 200px)  {  .no-img > h6  { font-size:1.4em;  } }
@media all and (min-width: 300px)  {  .no-img > h6  { font-size:1.4em;  } }
@media all and (min-width: 400px)  {  .no-img > h6  { font-size:1.0em;  } }
@media all and (min-width: 500px)  {  .no-img > h6  { font-size:1.0em;  } }
@media all and (min-width: 600px)  {  .no-img > h6  { font-size:1.6em;  } }
@media all and (min-width: 700px)  {  .no-img > h6  { font-size:2.0em;  } }
@media all and (min-width: 800px)  {  .no-img > h6  { font-size:2.0em;  } }
@media all and (min-width: 900px)  {  .no-img > h6  { font-size:2.0em;  } }
@media all and (min-width: 1000px) {  .no-img > h6  { font-size:2.0em;  } }
@media all and (min-width: 1100px) {  .no-img > h6  { font-size:2.0em;  } }
@media all and (min-width: 1200px) {  .no-img > h6  { font-size:2.0em;  } }
@media all and (min-width: 1300px) {  .no-img > h6  { font-size:2.0em;  } }
@media all and (min-width: 1400px) {  .no-img > h6  { font-size:2.0em;  } }
@media all and (min-width: 1500px) {  .no-img > h6  { font-size:3.0em;  } }
@media all and (min-width: 1500px) {  .no-img > h6  { font-size:3.0em;  } }
@media all and (min-width: 1600px) {  .no-img > h6  { font-size:3.0em;  } }
@media all and (min-width: 1700px) {  .no-img > h6  { font-size:3.0em;  } }*/

@media (max-width: 700px){
	.small-article-wrap {
		display: block;
		float: none;
		width: 450px;
		margin: 0 auto;
	}
	.mobile-ignore{
		display: none;
	}
	.small-article-width {
		width: 50%;
	}
	.small-article-container {
		margin: 0 auto;
		text-align: center;
	}
	.small-article-container > img {
		width: 75%;
		float: none;
		margin: 0 auto;
	}
	.small-article-container > h5 {
		margin: 0 5px 15px 0;
		text-align: center;
		padding: 0;
		font-weight: 300;
		font-size: 12px;
	}
}
@media (min-width: 450px) and (max-width: 700px){
	.odd {
		float: none;
		display: block;
		margin: 0 auto;
	}
}
@media (max-width: 450px){
	.small-article-wrap {
		display: block;
		float: none;
		width: 100%;
		margin: 0 auto;
	}
	.mobile-ignore{
		display: none;
	}
	.small-article-width {
		width: 100%;
	}
	.small-article-container {
		margin: 0 auto;
		text-align: center;
	}
	.small-article-container > img {
		display: block;
		width: 90%;
		float: none;
		margin: 0 auto;
	}
	.small-article-container > h4 {
		display: block;
		width: 90%;
		text-align: left;
		margin: 0 auto;
	}
	.small-article-container > h5 {
		display: block;
		width: 90%;
		text-align: left;
		margin: 0 auto 15px auto;
	}
}




/** -------------------
/** -------------------
**  ARTICULOS DERECHA
** -------------------**
** -------------------*/

.right-adv {
	display: block;
	margin-bottom: 5px;
}
.right-adv > img {
	width: 100%;
}
.lo-mas-leido {
	text-align: left;
	padding-bottom: 5px;
}
.lo-mas-leido > ul > li{
	margin-bottom: 6px;
}
.lo-mas-leido > h4 {
	color: #61212b;
	font-weight: normal;
	padding: 0 5px 0 5px;
	margin: 0 0 5px 0;
}
.lo-mas-leido > ul > li > h5 {
	margin: 0;
	padding: 0 5px;
	font-weight: normal;
	font-size: 14px;
}
.lo-mas-leido > ul > li > h6 {
	margin: 0;
	padding: 0 5px;
	font-weight: normal;
	font-size: 12px;
}
@media (max-width: 853px){
	.right-adv {
		display: block;
		float: right;
		width: 300px;
		margin: 0 25px;
	}
	.lo-mas-leido {
		display: block;
		float: left;
		width: 300px;
	}
}
@media (max-width: 700px) {
	.right-adv {
		display: block;
		float: none;
		width: 300px;
		margin: 0 auto;
	}
	.lo-mas-leido{
		display: block;
		float: none;
		width: 100%;
		margin: 0 auto;
	}
}
@media (max-width: 450px) {
	.right-adv {
		display: block;
		float: none;
		width: 100%;
		margin: 0 auto;
	}
	.right-adv > img {
		display: block;
		float: none;
		width: 100%;
		margin: 0 auto;
	}
	.lo-mas-leido{
		display: block;
		float: none;
		width: 100%;
		margin: 5px auto;
	}
}


/****************************************************************************************
**  SEGUNDA FILA
*****************************************************************************************/
.opinion {
	display: block;
	width: 100%;
	margin-bottom: 5px;
}
.opinion > section {
	display: block;
	margin-left: 5px;
	float: left;
	width: 24%;
}
.opinion > section > img {
	width: 100%;
}
.opinion > section > h4 {
	margin: 0;
	padding: 0;
	position: relative;
	top: -5px;
	background-color: #E5E2C9;
	color: #61212b;
	text-align: center;
	font-weight: normal;
}
.opinion > section > h5 {
	margin: 0;
	padding: 0 5px;
	font-weight: normal;
}
@media (max-width: 700px){
	.opinion > section {
		width: 48%;
	}
	.web-ignore {
		clear: both;
	}
}
.pfirst {
	background-image: url('../img/publicidad/Mundial-Banner.jpg');
}
.psecond {
	background-image: url('../img/publicidad/banner3.gif');
}
.pthird {
	background-image: url('../img/publicidad/banner2.png');
}
.publicidad-banner {
	display: block;
	/*background-color: #E5E2C9;*/
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center top;
	overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
	margin: 10px auto 5px auto;
	width: 100%;
	height: 88px;
	text-align: center;
}

.trends {
	display: block;
	text-align: left;
	margin: 5px auto;
	padding-bottom: 15px;
}
.trends > h4 {
	/*border: 2px solid #E5E2C9;*/
	font-weight: normal;
	font-size: 1.2em;
	color: black;
	padding: 5px 5px 0 10px;
	margin: 0 0 3px 0;
	color: #61212b;
}
.twitter {
	height: 20px;
}
.trends > ul > li {
	margin: 0 0 0 10px;
	padding: 0;
}
@media (max-width: 853px){
	.trends {
		display: block;
		width: 350px;
		float: left;
	}
	.trends > h4 {
		padding-left: 30px;
	}
	.trends > ul {
		display: block;
		margin: 0 auto;
		width: 100%;
	}
}
@media (max-width: 700px){
	.trends {
		display: block;
		float: none;
		width: 300px;
		margin: 0 auto;
	}
}
@media (max-width: 450px){
	.trends {
		display: block;
		float: none;
		width: 100%;
		margin: 5px auto;
	}
}
.video{
	display: block;
	margin-bottom: 5px;
}
.video > h4 {
	font-size: 17px;
	margin-bottom: 5px;
	font-weight: normal;
	color: #61212b;
	text-align: left;
	padding-left: 15px;
}
.video > img {
	display: block;
	width: 80%;
	margin: 0 auto;
	border: 1px solid #333;
}
.video > img:hover {
	opacity: 1;
}
.video > h5 {
	font-weight: normal;
	font-size: 16px;
	margin-top: 5px;
	color: #333;
}
@media (max-width: 700px){
	.video {
		margin:0;
	}
}

/****************************************************************************************
**  TERCERA FILA
*****************************************************************************************/
.jumbo-wrap {
	margin: 0 7px 5px 5px;
	padding: 5px 0;
	background-color: #333;
}
.jumbo-article-container {
	display: block;
	float:left;
	margin:0 0 15px 6px;
}
.jumbo-article-container > img {
	display: block;
	float: left;
	width: 360px;
	margin: 1px;
}
.jumbo-article-container > h4 {
	margin:0;
	padding: 0;
	display: block;
	float: left;
	width: 330px;
}
.jumbo-article-container > h4 > a {
	width: 100%;
	display: block;
	margin: 5px;
	text-align: left;
	text-decoration: underline;
	word-wrap:break-word;
	line-height: 40px;
	font-weight: 300;
	color: #E5E2C9;
	font-size: 1.4em;
}
.jumbo-article-container > p {
	display: block;
	float: left;
	padding: 0 5px;
	color: #FFF;
	font-weight: 300;
}
.jumbo-article-container > h5 {
	margin:0;
	display: block;
	float: left;
	width: 350px;
	padding: 5px;
	text-align: left;
	word-wrap:break-word;
	font-weight: normal;
	font-size: 14px;
	color: #E5E2C9;
}
@media (max-width: 720px) {
	.jumbo-article-width {
		width: 100%;
	}
}
@media (max-width: 700px) {
	.jumbo-article-container {
		float: none;
		margin: 0 0 15px 0;
	}
	.jumbo-article-container > img {
		float: none;
		margin: 0 auto;
		width: 90%;
		padding: 0;
	}
	.jumbo-article-container > h4 {
		text-align: center;
	}
	.jumbo-article-container > h4, .jumbo-article-container > h5 {
		float: none;
		margin: 0 auto;
		width: 90%;
	}
	.jumbo-article-container > p {
		float: none;
		margin: 0 auto;
		width: 90%;
	}
	.jumbo-wrap {
		margin: 0 0 5px 0;
		padding: 5px 0;
	}
}
.list-article-container {
	display: block;
	width: 100%;
	padding-left: 5px;
	margin: 5px 0 0 0;
}
.list-article-container > img {
	display: block;
	width: 200px;
	float: left;
}
.list-article-container > h4 {
	display: block;
	margin: 6px 0 0 0;
	float: left;
	padding: 5px;
	width: 510px;
	color: #333;
	font-weight: normal;
	font-size: 18px;
}
.list-article-container > h5 {
	display: block;
	margin: 0;
	float: left;
	padding: 5px;
	width: 510px;
	font-weight: 300;
}
@media (max-width: 700px) {
	.list-article-container {
		display: block;
		float: none;
		padding: 0;
		margin: 6px auto;
		width: 100%;
	}
	.list-article-container > img {
		margin-left: 5px;
	}
	.list-article-container > h4, .list-article-container > h5 {
		padding: 0  0 0 5px;
		width: 200px;
		font-size: .8em;
	}
}
@media (max-width: 411px) {
	.list-article-container > img {
		display: block;
		width: 80%;
		float: none;
		margin:0 auto;
	}
	.list-article-container > h4, .list-article-container > h5 {
		display: block;
		width: 80%;
		float: none;
		margin: 0 auto;
		padding: 0  0 0 5px;
		font-size: .9em;
		font-weight: normal;
	}
	.list-article-container > h5 {
		font-weight: 300;
		font-size: .85em;
	}
}
/****************************************************************************************
**  CUARTA FILA
*****************************************************************************************/
.no-photo-right {
	display: block;
	width: 100%;
	margin: 0 auto;
}
.no-photo-right > li {
	margin: 10px 0;
	padding-top: 2px;
}
.no-photo-right > li > h4 {
	margin: 0 5px;
	padding: 0;
	font-weight: normal;
	color: #333;
}
.no-photo-right > li > h5 {
	margin: 0 5px;
	padding: 0;
	font-weight: normal;
	font-size: .8em;
	color: #333;
}
@media (min-width: 1020px) and (max-width: 1080px){
	.no-photo-right {
		font-size: .9em;
	}
}
@media (min-width: 1005px) and (max-width: 1020px){
	.no-photo-right {
		font-size: .87em;
	}
}
@media (min-width: 967px) and (max-width: 1005px) {
	.no-photo-right {
		font-size: .86em;
	}
}
@media (min-width: 905px) and (max-width: 967px){
	.no-photo-right {
		font-size: .74em;
	}
}
@media (min-width: 853px) and (max-width: 905px){
	.no-photo-right {
		font-size: .68em;
	}
	.no-photo-right > li {
		margin: 0;
	}
	.query {
		font-size: .8em;
	}
}
@media (max-width: 853px) {
	.no-photo-right {
		font-size: 1em;
	}
	.no-photo-right > li {
		margin: 0;
	}
	.query {
		font-size: 1em;
	}
}
.query {
	display: block;
	padding: 5px;
	background-color: #E5E2C9;
	text-align: left;
	color: #333;
}
.query > h4 {
	margin: 5px 0;
	padding: 0;
	font-weight: bold;
}
.query > form > h5 {
	margin: 10px 0;
	padding: 0;
	font-weight: normal;
}
span.bar {
	display: inline-block;
	background-color: #61212b;
	border-radius: 50%;
	margin:1px;
	height: 10px;
	width: 10px;
}
span.empty-bar {
	display: inline-block;
	background-color: none;
	border: 1px solid #61212b;
	border-radius: 50%;
	margin:1px;
	height: 8px;
	width: 8px;
}
span.number {
	margin: 0 3px;
}
.query > form > .vote {
	background-color: #333;
	color: #FFF;
	border: none;
	border-radius: 2px;
}
.pool {
	display: inline-block;
	font-size: .8em;
	margin: 0 5px;
}
.no-photo-left > li > h4 {
	margin: 0 5px;
	padding: 0;
	font-weight: normal;
}
.no-photo-left > li > h5 {
	margin: 0 5px;
	padding: 0;
	font-weight: 300;
}
.hashtag {
	height: 18px;
}
.hashtags {
	display: block;
	text-align: left;
	margin: 5px auto;
	padding-bottom: 15px;
}
.hashtags > h4 {
	/*border: 2px solid #E5E2C9;*/
	font-weight: normal;
	font-size: 1.2em;
	color: black;
	padding: 5px 5px 0 10px;
	margin: 0 0 3px 0;
	color: #61212b;
}
.hashtags > ul > li {
	margin: 0 0 0 10px;
	padding: 0;
}
@media (max-width: 853px){
	.hashtags {
		display: block;
		width: 350px;
		float: left;
	}
	.hashtags > h4 {
		padding-left: 30px;
	}
	.hashtags > ul {
		display: block;
		margin: 0 auto;
		width: 100%;
	}
}
@media (max-width: 700px){
	.hashtags {
		display: block;
		float: none;
		width: 300px;
		margin: 0 auto;
	}
}
@media (max-width: 450px){
	.hashtags {
		display: block;
		float: none;
		width: 100%;
		margin: 5px auto;
	}
}
/****************************************************************************************
**  QUINTA FILA
*****************************************************************************************/
.arte {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 5px 0;
	background-color: #333;
}
.arte > section.first {
	margin-left: 19px;
}
.arte > section {
	display: block;
	margin:0 1px;
	float: left;
	width: 24%;
}
.arte > section > img {
	width: 100%;
}
.arte > section > h4 {
	margin: 0;
	padding: 0 5px;
	position: relative;
	top: -5px;
	color: #E5E2C9;
	text-align: left;
	font-weight: normal;
	font-size: .9em;
}
.arte > section > h5 {
	margin: 0 3px 5px 3px;
	padding: 0;
	color: #FFF;
	font-weight: 300;
	font-size: .8em;
}
@media (max-width: 700px){
	.arte > section {
		width: 48%;
	}
	.arte > section.first {
		margin-left: 5px;
	}
	.arte > section {
		margin: 0 5px;
	}
	.web-ignore {
		clear: both;
	}
}
@media (max-width: 500px) {
	.arte > section.first {
		width: 100%;
		float: none;
		margin: 0 auto;
	}
	.arte > section {
		width: 100%;
		float: none;
		margin: 0 auto;
	}
	.arte > section > img {
		margin: 0 auto;
		display: block;
		width: 90%;
	}
	.arte > section > h4 {
		margin: 3px auto;
		display: block;
		top: 0;
		width: 85%;	}
	.arte > section > h5 {
		margin: 3px auto;
		display: block;
		width: 80%;
	}
}
.footer{
	display: block;
	margin: 3px 0 0 0;
	padding: 5px;
	background-color: #E5E2C9;
}
.nav-search {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
.nav-search > nav.nav-wrap > ul.nav > li {
	border: none;
}
.nav-search > nav.nav-wrap > ul.nav > li > a {
	font-size: .9em;
}
.search-wrap {
	display: block;
	text-align: left;
}
.search-form {
	margin: 5px 15px;
}
.search-form > input {
	border-radius: 8px;
}
.search-icon {
	vertical-align: middle;
}
.field {
	display: block;
}
.rights-logo {
	float: right;
}
.rights-logo > div.logo {
	text-align: right;
}
.rights {
	text-align: center;
	font-size: .8em;
	color: #61212b;
}
@media (max-width: 900px){
	.nav-search {
		float: none;
		margin-left: 20px;
		margin-top: 20px;
		margin:0 auto;
	}
	.field {
		display: block;
		width: 23%;
		margin: 0 auto;
	}
	.search-icon {
		vertical-align: middle;
	}
	.rights-logo {
		float: none;
		margin:0 auto;
	}
}