/**------------------------------
** MAIN MENU
**------------------------------*/
@media (min-width: 600px) {
	.nav {
		text-align: center;
		/*text-align: left;*/
		margin: 0 auto;
		/*margin: 0;*/
		padding-left: 0;
	}
}
.nav-wrap{
	display: block;
	text-align: left;
}
.nav {
	font-weight: normal;
	text-decoration: none;
	color: #61212b;
	margin: 0 0 0 3px;
	list-style: none;
	padding-left:0;
}
.nav > li {
	display: inline-block;
	margin: 0 0 3px 0;
	padding: 0 13px;
	border-right: 1px solid #61212b;
}
.nav > li:first-child {
	border-left: 1px solid #61212b;
}
/*.nav > li:last-child {
	border: none;
}*/
.nav > li > a {
	text-decoration: none;
	font-size: 15px;
	color: #61212b;
}
.mobile {
	display: none;
}
@media (max-width: 600px){
	.nav {
		text-align: right;
		display: none;
	}
	.nav > li {
		display: block;
	}
	.nav-btn {
		display: block;
		padding: 0 15px 0 0;
		color: #61212b;
		font-size: 20px;
		text-align: right;
		cursor:pointer;
	}
	.nav-btn:before {
		content: "Menu";
	}
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}
}



/**------------------------------------------------------------------------------------------
** SECUNDARY MENU ***************************************************************************
**------------------------------------------------------------------------------------------*/

.nav2 {
	background-color: #333;
	/*background-color: #E5E2C9;*/
	margin: 0;
	padding: 0 0 0 15px;
}
.nav2 > li {
	list-style: none;
	float: left;
	color: #FFF;
	/*color: #333;*/
}
.nav2 > li > a:link,
.nav2 > li > a:visited {
	display: block;
	font-size: 12px;
	margin: 3px 20px 3px 0;
	color: #FFF;
	/*color: #333;*/
	text-decoration: none;;
	font-weight: 300;
	font-weight: normal;
}
.nav2-btn2 {
	display: none;
	font-weight: 300;
	font-size: 16px;
}
@media (max-width: 930px) {
	.nav2 {
		display: none;
		padding: 0;
	}
	.nav2 > li {
		float: none;
		border-bottom: 1px solid black;
		/*border-bottom: 1px solid #333;*/
		padding:6px 0 6px 15px;
	}
	.nav2 > li > a:link,
	.nav2 > li > a:visited {
		margin: 0;
	}
	.nav2 > li.last {
		border-bottom: none;
	}
	.nav2-btn2 {
		padding: 5px 0 5px 15px;
		display: block;
		text-align: left;
		font-weight: normal;
		background-color: #333;
		/*background-color: #E5E2C9;*/
		color: #FFF;
		/*color: #333;*/
		cursor: pointer;
	}
	.nav2-expanded{
		display: block;
	}
}